DJANGO__DEBUG=True
DJANGO__SECRET_KEY=django-insecure-8dz8^kletl(8b%0=@6qiu_oihdz1fc_hf(wts@!musz-d((257
DJANGO__ALLOWED_HOSTS=site.homework.local.net

POSTGRES_HOST=localhost
POSTGRES_PORT=5432

POSTGRES_USER="recipeuser"
POSTGRES_PASSWORD="123"
POSTGRES_DB="recipedb"
DATABASE_URL=postgres://recipeuser:123@localhost:5432/recipedb
