<!-- templates/base/find_recipes.html -->

{% block content_find %}
<h1>Find Recipes by Ingredients</h1>

<form method="POST">
    {% csrf_token %}
    <label for="ingredients">Enter ingredients (comma-separated):</label><br>
    <input type="text" name="ingredients_text" placeholder="e.g. milk, eggs, sugar">
    <button type="submit">Search Recipes</button>
</form>


{% if recipes is not None %}
    <h2>Results:</h2>
    {% if recipes %}
        <ul>
            {% for recipe in recipes %}
                <li>
                    <a href="{% url 'base:recipe_detail' recipe.pk %}">
                        <strong>{{ recipe.name }}</strong>
                    </a><br>
                    {{ recipe.description|truncatewords:20 }}<br>
                    <em>Час приготування: {{ recipe.cooking_time }} хв</em>
                </li>

            {% endfor %}
        </ul>
    {% else %}
        <p>No recipes found for selected ingredients.</p>
    {% endif %}

{% endif %}
    <p><a href="{% url 'base:recipe_list' %}">← Назад до списку</a></p>

{% endblock content_find %}