{% extends "_helpers/_base.html" %}

{% block content %}
    <h2>Мій холодильник</h2>

    <a href="{% url 'fridge:add_fridge_item' %}">
        <button>Додати інгредієнт</button>
    </a>

    <ul>
        {% for item in items %}
            <li>
                {{ item.ingredient.name }} — {{ item.quantity }} {{ item.unit }}
                {% if item.is_expired %} <strong style="color:red">(Прострочено)</strong> {% endif %}
            </li>
        {% empty %}
            <li>Холодильник порожній</li>
        {% endfor %}
    </ul>
{% endblock content %}